# Sensitive files
config/config.yaml
config/*.yaml
!config/config.template.yaml

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
**/__pycache__/

# Virtual environment
venv/
.venv/

# Test reports
reports/